<div class="wow animated fadeIn life-card-container" data-wow-delay=".15s">
  <a
    href="{{ life_url }}"
    class="life-card text-themed"
  >
    {%- if life_img -%}
    <img
      id="{{ life_id }}-img"
      class="life-card-img-top"
      src="{{ life_img }}"
      alt="{{ life_name }}"
    />
    {%- endif -%}
    <div class="life-card-body">
      <p id="{{ life_id }}-date" class="life-card-text text-muted">
        <i class="fas fa-calendar-alt"></i> {{ life_date | date: "%B %d, %Y" }}
      </p>
    </div>
  </a>
</div>
